{% extends 'base.html' %}
{% block add_departement %}
<br>
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-example-wrap">
                    <form method="post" action="{% url  'add_departement' %}">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{form|crispy}}
                    <div class="form-example-int mg-t-15">
                            <button id="submit" class="btn btn-success notika-btn-success">Add Contact</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <br>
        {% endblock %}