{% extends 'base.html' %}
{% block contact %}
{% include 'nav.html' %}
<style>
  .contact-list {
    background-image: url("../static/images/card.jpg");
  }

  #contact {
    color: mediumslateblue;
  }
</style>
<br>
<!-- Contact area Start-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 id="contact">Contact</h2>
    </div>
    <div class="col-lg-6">
      <form method="GET" action="{% url 'add_company' %}">
        <button data-toggle="tooltip" data-placement="left" title="add contact" class=" m-2 btn btn-success"> Add
          Contact</button>
      </form>
    </div>
  </div>
  <div class="row">
    {% for contact in contacts %}
    <div class="col-lg-4">
      <div class="contact-list">
        <div class="contact-win">
          <div class="conct-sc-ic">
              {% if contact.facebook %}
              <a class="btn" href="{{ contact.facebook }}"><i class="fab fa-facebook-square"></i></a>
              {% else %}
              <a class="btn" href="#"><i class="fab fa-facebook-square"></i></a>
              {% endif %}
              {% if contact.twitter %}
              <a class="btn" href="{{contact.twitter}}"><i class="fab fa-twitter"></i></a></a>
              {% else %}
              <a class="btn" href="#"><i class="fab fa-twitter"></i></a></a>
              {% endif %}
              {% if contact.linkedin %}
              <a class="btn" href="{{contact.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
              {% else %}
              <a class="btn" href="#"><i class="fab fa-linkedin-in"></i></a>
              {% endif %}
          </div>
        </div>
        <div class="contact-ctn">
          <div class="contact-ad-hd">
            <a href="{% url 'details' contact.id %}">
              <h2 class="text-left">{{ contact.name|lower|title }}</h2>
            </a>
            <p class="ctn-ads"> Function : {{ contact.function }}</p>
            <p class="ctn-ads">{{ contact.country }}, {{ contact.city }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br>

<!-- Contact area End-->
{% endblock %}