{% extends 'base.html' %}
{% block contact %}
{% load static %}
<style>
  #detail{
    background-image: url("../static/images/card.jpg");
  }

  .links {
    color:mediumpurple;
  }

  h2 {
    color:midnightblue;
  }
</style>
<br>
<!-- Contact area Start-->
<div class="container mt-5" id="detail">
  <div class="row">
    <div class="col-lg-6">
      <h2>Contact</h2>
    </div>
    <div class="col-lg-6">
      <form method="GET" action="/add_contact">
        <button data-toggle="tooltip" data-placement="left" title="add contact" class="btn-success"> Add
          Contact</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a class="btn" href="{{contact.facebook}}"><i class="fab fa-facebook-square"></i></a>
      <a class="btn" href="{{contact.twitter}}"><i class="fab fa-twitter"></i></a></a>
      <a class="btn" href="{{contact.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
      <h2> Name : {{ contact.name|lower|title }}</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-3"><p><em> Email :</em> {{ contact.email }}</p></div>
      <div class="col-lg-3"><p><em> Age :</em> {{ contact.age }}</p></div>
      <div class="col-lg-3"><p><em> Phone :</em> {{ contact.phone_number }}</p></div>
      <div class="col-lg-3"><p>{{ contact.country }}, {{ contact.city }}</p></div>
      <div class="col-lg-3"><p><em> Function :</em> {{ contact.function }}</p></div>
      <div class="col-lg-3"><p><em> Company :</em> {{ contact.company }}</p></div>
      <div class="col-lg-3"><p> Descritpion : {{ contact.description }}.</p></div>
      <div class="col-lg-3"><p><em> Is A Client :</em> {{ contact.client }}</p></div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        {% if contact.client is False %}
        <h4><a href="{% url 'set' contact.id %}" class="links">Set As A Client</a></h4>
        {% else %}
        <h4><a href="{% url 'unset' contact.id %}" class="links">Set As A Prospect</a></h4>
        {% endif %}</div>
      <div class="col-lg-4"><a href="{% url 'contact_meetings' contact.id %}" class="links">Check Mettings</a></div>
      <div class="col-lg-4"><a href="{% url 'create_meeting' %}" class="links">Create Meeting report</a><br></div>
  </div>
</div>
</div>
</div>
<br>
<!-- Contact area End-->
{% endblock %}

<!-- jquery
		============================================ -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap JS
		============================================ -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- wow JS
		============================================ -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- price-slider JS
		============================================ -->
<script src="{% static 'js/jquery-price-slider.js' %}"></script>
<!-- owl.carousel JS
		============================================ -->
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
<!-- scrollUp JS
		============================================ -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<!-- meanmenu JS
		============================================ -->
<script src="{% static 'js/meanmenu/jquery.meanmenu.js' %}"></script>
<!-- counterup JS
		============================================ -->
<script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'js/counterup/counterup-active.js' %}"></script>
<!-- mCustomScrollbar JS
		============================================ -->
<script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- sparkline JS
		============================================ -->
<script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
<!-- flot JS
		============================================ -->
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/flot/flot-active.js' %}"></script>
<!-- knob JS{% static '
		============================================ -->
<script src="{% static 'js/knob/jquery.knob.js' %}"></script>
<script src="{% static 'js/knob/jquery.appear.js' %}"></script>
<script src="{% static 'js/knob/knob-active.js' %}"></script>
<!--  wave JS{% static '
		============================================ -->
<script src="{% static 'js/wave/waves.min.js' %}"></script>
<script src="{% static 'js/wave/wave-active.js' %}"></script>
<!--  Chat JS
		============================================ -->
<script src="{% static 'js/chat/jquery.chat.js' %}"></script>
<!--  todo JS
		============================================ -->
<script src="{% static 'js/todo/jquery.todo.js' %} "></script>
<!-- plugins JS
		============================================ -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- main JS
		============================================ -->
<script src="{% static 'js/main.js' %} "></script>
<!-- tawk chat JS
		============================================ -->
<script src="{% static 'js/tawk-chat.js' %}"></script>

</body>

</html>