{% extends 'base.html' %}
{% block meeting_information %}
<div class="table100 ver2 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Contact</th>
                        <th class="cell100 column2">Date</th>
                        <th class="cell100 column3">Time</th>
                        <th class="cell100 column4">Place</th>
                        <th class="cell100 column5">Notes</th>
                    </tr>
                </thead>
            </table>
        </div>
       <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    {% for meeting in meetings %}
                    <tr class="row100 body">
                        <td class="cell100 column4"><a href="{% url 'details' meeting.contact.id %}">{{ meeting.contact|title}}</a></td>
                        <td class="cell100 column2">{{ meeting.date }}</td>
                        <td class="cell100 column3">{{ meeting.time }}</td>
                        <td class="cell100 column1">{{ meeting.place|lower|title }}</td>
                        <td class="cell100 column5"><a href="{% url 'meeting_notes' meeting.id %}" class="card-link">Notes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}