  {% extends 'base.html' %}
  {% block nav %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-white navbar-light ml-5">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'dashboard' %}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'contacts' %}" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'clients' %}" class="nav-link">Clients</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'prospects' %}" class="nav-link">Prospects</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'meetings' %}" class="nav-link">Meeting Reports</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'create_meeting' %}" class="nav-link">Create Report</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'set_meeting' %}" class="nav-link">Set Meeting</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a href="{% url 'meeting_information' %}" class="nav-link">Next Meeting</a>
      </li>
    </ul>
</nav>
<!-- /.navbar -->
{% endblock %}
