{% extends 'base.html' %}
{% block registration %}
<div id="bg">
    
    {% if context.error2 %}
        <ul class="position-absolute" id="passworderror">
                <li></li>
                    <strong>{{ context.error2 }}</strong>
                </li>
        </ul>
    {% endif %}
    <div class="module">
        <ul>
            <li class="tab activeTab"><i class="fas fa-user"></i></li>
        </ul>
        <form class="form" method="post", action="{% url 'registration' %}">
            {% csrf_token %}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <input type="submit" value="Next" class="button" />
        </form>
    </div>
</div>
{% endblock %}


