{% extends 'base.html' %}
{% block registration %}
<div id="bg">
    <div class="module">
        <ul>
            <li class="tab activeTab"><i class="fas fa-user"></i></li>
        </ul>
        <form class="form" method="post", action="{% url 'registration' %}">
            {% csrf_token %}
            {% for field in form%}
            <p> {{field}} </p>
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <input type="submit" value="Next" class="button" />
        </form>
    </div>
</div>
{% endblock %}