{% extends 'base.html' %}
{% block contact_meetings %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <h2>Meetings</h2>
          <div class="col-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th><a href="{% url 'create_meeting' %}"><i class="fas fa-plus ml-2"></i></a></th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Summary</th>
                    <th>Contact</th>
                </tr>
              </thead>
              <tbody>
                  {% for meeting in meetings %}
                    <tr>
                      <td></td>
                      <td><a href="{% url 'edit_rep' meeting.id %}"><i class="fas fa-edit"></i></i></a></td>
                      <td><a href="{% url 'delete_report' meeting.id %}"><i class="fas fa-trash-alt"></i></a></td>
                      <td><a href="{% url 'meeting_details' meeting.id %}">{{ meeting.title|title }}</a>
                      </td>
                      <td>{{ meeting.date }}</td>
                      <td>{{ meeting.summary|truncatechars:50 }}</td>
                      <td>{{ meeting.contact }}</td>
                    </tr>
                    {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
{% endblock %}