{% extends 'base.html' %}
{% block edit_met %}
{% load crispy_forms_tags %}
<br>
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="form-example-wrap">
                    <form method="post" action="{% url 'edit_met_post' %}">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-success"> Edit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}