{% extends 'base.html' %}
{% block meeting_notes %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if meeting.note is None or meeting.note == "" %}
                    <h2 class="text-center">No notes for this meeting </h2>
                    {% else %}
                    <p>{{ meeting.note }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}