{% extends 'base.html' %}
{% block meeting %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <h2>Reports contact list</h2>
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Contact</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td><a href="{% url 'contact_meetings' contact.id %}">
                  {{ contact.name|lower|title }}
                </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}