{% extends 'base.html' %}
{% block meeting_detail %}
{% load static %}
<style>
  section {
    background-color: whitesmoke;
    width: 50%;
    height: 500px;
  }
</style>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="mb-4 text-center"> {{ meeting.title|title }} </h2>
          <small>{{ meeting.date }}</small>
          <h4 class="mt-4"> Contact : {{ meeting.contact }} </h4>
          <p class="mb-1 lead"> Summary : {{ meeting.summary }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

          {% endblock %}