{% extends 'base.html' %}
{% block set_meeting %}
{% load crispy_forms_tags %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                        <h2 class="lead mt-5">Set a meeting</h2>
                        <p> please check your calender and your time for a better meeting management</p>
                    <div class="form-example-wrap">
                        <form method="post" action="{% url 'set_meeting' %}">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-success"> Set Meeting </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}