{% extends 'base.html' %}
{% block contact_edited %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if company == 'exists' %}
                    <h2 class="text-center mt-5 lead"> Client already exists thanks </h2>
                    {% elif contact == 'exists' %}
                    <h2 class="text-center mt-5 lead"> Contact already exists thanks </h2>
                    {% elif meeting == 'exists' %}
                    <h2 class="text-center mt-5 lead"> You have a meeting at this date and time check your calender please
                    </h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}