{% extends 'base.html' %}
{% block clients %}
<!-- Contact area Start-->
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 id="contact" class="mt-4">Clients</h2>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- Main content -->
          <div class="card">
            <div class="card-header">
              <form method="GET" action="{% url 'add_client' %}" >
                  <button data-toggle="tooltip" data-placement="left" title="add client" class="btn btn-success">
                    Add
                    Client</button>
              </form>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Country</th>
                  </tr>
                </thead>
                <tbody>
                  {% for client in clients %}
                  <tr>
                    <td><a id ="c_detail" href="{% url 'client_details' client.id %}">{{ client.cp_name }}</a></td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.company_country }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
<!-- Contact area End-->
{% endblock %}