{% extends 'base.html' %}
{% block company_detail %}
{% load static %}
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="callout callout-info mt-5">
            <h5><i class="fas fa-info"></i> Note:</h5>
            Contacts that you have in this company are listed below click + sign to add a contact who works here.
          </div>
          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{ company.cp_name }}.
                  <small class="float-right">Date: {{ company.date }} </small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <address>
                  <strong>{{ company.cp_name }}.</strong> <span><a href="{% url 'edit_comp' company.id %}"><i
                        title="edit company" class="fas fa-eye-dropper"></i></span></a><br>
                  {{ company.address }}<br>
                  Phone: {{ company.phone_number }}<br>
                  Email: {{ company.email }}<br>
                  Description: {{ company.description }}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <address>
                  <strong>{{ company.company_country }}</strong><br>
                  City: {{ company.company_city }}<br>
                  Field: {{ company.field }}<br>
                  Client: {% if company.client == True %}
                  <a href="" id="set" class="set" cp_id="{{ company.id }}"><i class="fas fa-check"></i></a>
                  {% elif company.client == False %}
                  <a href="" id="unset" class="set" cp_id="{{ company.id }}">
                  <i class="fas fa-times"></i></a>
                  {% endif %}<br>
                  <a href="{% url 'delete_company' company.id %}"><i title="drop company"
                      class="fas fa-trash-alt"></i></a>
                </address>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
              <h2>Contacts</h2><span><a id="add_contact" href="{% url 'add_contact' company.id %}"><i
                    class="fas fa-plus ml-2" title="add contact"></i></a></span>
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Function</th>
                      <th>City</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for contact in contacts %}
                    <tr>
                      <td>{{ contact.name|lower|title }}</td>
                      <td>{{ contact.email }}</td>
                      <td> {{contact.phone_number}} </td>
                      <td> {{ contact.function }} </td>
                      <td> {{ contact.city }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}