{% extends 'base.html' %}
{% block contact_deleted %}
{% if contact == 'deleted' %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center mt-5 lead"> Contact deleted thanks </h2>
                    {% elif company == 'deleted' %}
                    <h2 class="text-center mt-5 lead"> Company deleted thanks </h2>
                </div>
            </div>
        </div>
    </section>
</div>
                    {% endif %}
                    {% endblock %}