{% extends 'base.html' %}
{% block edit_contact %}
<!-- Form Examples area start-->
<br>
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="form-example-wrap">
                    <form method="post" action="{% url  'edit_contact' %}">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{form|crispy}}
                        <div class="form-example-int mg-t-15">
                                <button id="submit" type="submit" class="btn btn-success notika-btn-success">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        {% endblock %}